body {
  background-color: #000;
  background-image: radial-gradient(ellipse farthest-corner at 45px 45px , #112222 0%,#000 50%, #222244 95%);
  color: #888;
  font-family: "Courier", monospace;
  padding: 90;
  margin: 0;
  word-wrap: break-word;
  }

p {
  color: #fff;
  margin: 0;
}
