body {
  background-color: #111;
  /*background-image: radial-gradient(ellipse farthest-corner at 45px 45px , #112222 0%,#000 50%, #222244 95%);*/
  color: #888;
  font-family: "Courier", monospace;
  padding: 90px;
  margin: 20px;
  word-wrap: break-word;
  }

p {
  color: #fff;
  margin: 0;
}

/*div {
  padding: 90;
}*/
